#w {
    background: linear-gradient(red, yellow, blue, green);
}
body{
    text-align:center;
}
img{
    border-radius:20%;
    width:500px;
}
h1{
    font-size:100px
}
.line{
    width:40px;
    color: black;
    height: 10px;
    margin: 10px;
    
}
p{
    font-size:30px
}
#h {
    background-color:coral;
}